<html>
  <head>
    <title>Webcam</title>
  </head>
  <body>
    <h1> Water Levels </h1>

    <a href="/"> Back to main page </a>

    <canvas id="myChart"></canvas>

    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>

    <script>
      var ctx = document.getElementById('myChart').getContext('2d');
      var data = [new Date(), {{ data | safe }}];
      let storage = [];
      console.log(data);

      var labels = data[1].map(function(value, index) { return index })
      
      var chart = new Chart(ctx, {
          // The type of chart we want to create
          type: 'bar',
          data: {
              labels: labels,
              datasets: [{
                  label: 'Water Levels',
                  // backgroundColor: 'rgb(255, 99, 132)',
                  // borderColor: 'rgb(255, 99, 132)',
                  data: data[1],
                  lineTension: 0,
              }]
          },
          options: {}
      });

      storage.push(data);
      localStorage.setItem("storage", JSON.stringify(storage));
    </script>
  </body>
</html>